<script>
  import { createEventDispatcher } from 'svelte';
  export let count = 0

  const dispatch = createEventDispatcher()

  const increment = () => {
    dispatch('countChanged', { count: count + 1 })
  }
</script>

<button on:click={increment}>
  count is {count}
</button>
