<script>
  import Counter from './lib/Counter.svelte'

  let count = 0;

  /**
   * @param {{ detail: { count: number; }; }} event
   */
  function onCountChanged(event) {
    console.log(event);
    count = event?.detail?.count;
  }

  function addCount(delta = 1) {
    count += delta;
  }
</script>

<main>
  <div class="card">
    <Counter count={count} on:countChanged={onCountChanged} />
  </div>

  <div>
    <button on:click={() => addCount(-1)}>-</button>
    <button on:click={() => addCount()}>+</button>
  </div>
</main>

<style>

</style>
